// Place all the styles related to the substitutions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section {
	text-align: right;

	&#count {
		font-size: 5em;
		font-weight: bold;
		color: #dfa39c;
		margin-right: 1em;
	}

	&#form {
		input {
			margin: .5em 1em;
			padding: .5em 1em;

			border: #dfa39c 2px solid;

			&:hover {
				border: #bf837c 2px solid;
			}

			&:focus {
				border: #bf837c 2px solid;
			}
		}
	}
}
